* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: rgb(34, 33, 38);
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elem{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #65b5c5;
    border-radius: 10px;
    margin-top: 10px;
}

button{
  background-color: rgb(49, 63, 104);
  color: #e6e3e3;
  padding: 10px 30px;
  border-radius: 10px;
}

button:active{
    scale: 0.95;
}